services:
  test:
    image: php:8.4-cli
    working_dir: /app
    volumes:
      - .:/app
    command: >
      bash -c "
        apt-get update && apt-get install -y git unzip libzip-dev libgmp-dev libpng-dev &&
        docker-php-ext-install zip gmp gd &&
        curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer &&
        composer install --no-interaction --prefer-dist --ignore-platform-reqs &&
        ./vendor/bin/phpunit
      "
